*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
input{
    -webkit-appearance: none;
}
.iconfont {
    font-family:"iconfont" !important;
    font-size:1.5rem;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.icon-back:before {
    content: "\f0292";
    font-size:2rem;
}
.icon-user:before {
    content: "\e61d";
}
.hidden{
    display: none !important;
}
.show{
    display:block;
}
body{
    overflow-x: hidden;
}
.panel{
    width: 100%;
    height: 100%;
    padding: 10px;
    position: absolute;
    top:0;
    left:0;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
}
.home{
  background:#fff url("../img/back.jpg")  no-repeat 0 0;
  background-size: cover;
}
/*表情符号*/
.sp-anger{width:48px;height:48px;background-image:url(../img/style.png);background-position:0 0}
.sp-confuse{width:48px;height:48px;background-image:url(../img/style.png);background-position:0 -49px}
.sp-cool{width:48px;height:48px;background-image:url(../img/style.png);background-position:-49px 0}
.sp-cry{width:48px;height:48px;background-image:url(../img/style.png);background-position:-49px -49px}
.sp-jiong{width:48px;height:48px;background-image:url(../img/style.png);background-position:-98px 0}
.sp-laugh{width:48px;height:48px;background-image:url(../img/style.png);background-position:-98px -49px}
.sp-se{width:48px;height:48px;background-image:url(../img/style.png);background-position:-147px 0}
.sp-shutup{width:48px;height:48px;background-image:url(../img/style.png);background-position:-147px -49px}
.sp-shy{width:48px;height:48px;background-image:url(../img/style.png);background-position:-196px 0}
.sp-smile{width:48px;height:48px;background-image:url(../img/style.png);background-position:-196px -49px}
.sp-sweat{width:48px;height:48px;background-image:url(../img/style.png);background-position:-245px 0}
.sp-worship{width:48px;height:48px;background-image:url(../img/style.png);background-position:-245px -49px}



/*聊天显示的表情符号*/
.face{display: inline-block;vertical-align: middle}
.face-anger{width:32px;height:32px;background-image:url(../img/style.png);background-position:-294px 0}
.face-confuse{width:32px;height:32px;background-image:url(../img/style.png);background-position:-294px -33px}
.face-cool{width:32px;height:32px;background-image:url(../img/style.png);background-position:-294px -66px}
.face-cry{width:32px;height:32px;background-image:url(../img/style.png);background-position:-327px 0}
.face-jiong{width:32px;height:32px;background-image:url(../img/style.png);background-position:-327px -33px}
.face-laugh{width:32px;height:32px;background-image:url(../img/style.png);background-position:-327px -66px}
.face-se{width:32px;height:32px;background-image:url(../img/style.png);background-position:-360px 0}
.face-shutup{width:32px;height:32px;background-image:url(../img/style.png);background-position:-360px -33px}
.face-shy{width:32px;height:32px;background-image:url(../img/style.png);background-position:-360px -66px}
.face-smile{width:32px;height:32px;background-image:url(../img/style.png);background-position:-393px 0}
.face-sweat{width:32px;height:32px;background-image:url(../img/style.png);background-position:-393px -33px}
.face-worship{width:32px;height:32px;background-image:url(../img/style.png);background-position:-393px -66px}

.face_li{
    display: flex;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display: -moz-flexbox;
    -webkit-box-orient:horizontal;
    -webkit-flex-direction:row;
    -ms-flex-direction:row;
    flex-direction: row;
    /* text-align: center; */
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    -ms-flex-pack:center;
    justify-content:center;
    -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
}
.face_li i{
  display: inline-block;
}
.face_li span{
    width: 60px;
    height: 60px;
}
.main{
    background:#fff url("../img/mainbak.jpg")  no-repeat 0 0;
    background-size: cover;
}
.logo{
    height: 64px;
    padding-left: 300px;
    margin-top: 30px;
}
.logo img{
    vertical-align: middle;
    margin-right: 5px;
}
.chat_panel{
    position: absolute;
    left: 280px;
    top: 120px;
    height: 600px;
    width: 280px;
    border-radius: 8px;
    overflow: hidden;
}
.user_ul{
    position: absolute;
    left: 0;
    width: 100%;
    padding:0;
    margin: 0;
    background: #ffffff;
    height: 490px;
    overflow-x: hidden;
    overflow-y: auto;
    list-style-type: none;
}
.search_ul{
    width: 100%;
    padding:0;
    margin: 0;
    background: #ffffff;
    height: 490px;
    overflow-x: hidden;
    overflow-y: auto;
    list-style-type: none;
}
.face_ul{
    padding-top: 10px;
    height: 180px;
    width: 100%;
    box-sizing: border-box;
    list-style: none;
    background: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#ccc));
    background: -webkit-linear-gradient(white,#ccc);
    background: -moz-linear-gradient(white,#ccc);
    background: -ms-linear-gradient(white,#ccc);
    background: -o-linear-gradient(white,#ccc);
    border-radius: 0 0 8px 8px;
    display: flex;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:-moz-flexbox;
    -webkit-box-orient:vertical;
    -webkit-flex-direction:column;
    -ms-flex-direction:column;
    flex-direction:column;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    -ms-flex-pack:center;
    justify-content:center;
}
.item_notify{
    display: inline-block;
    width: 12px;
    height: 12px;
    background: #cc0000;
    /* line-height: 20px; */
    border-radius: 30px;
    position: absolute;
    top: 2px;
    right: 5px;
}
.errormessage{
    opacity: 0;
    height: 0;
    color: red;
    text-align: center;
    font-size: 1.1rem;
    transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out; /* Firefox 4 */
    -webkit-transition:all .5s ease-in-out; /* Safari and Chrome */
    -o-transition:all .5s ease-in-out;
}
.logoutbtn{
    width: 96%;
    margin: 40px auto;
    display: block;
    height: 40px;
    border: 1px solid #ccc;
    background: #e03422;
    color: #fff;
    font-size: 1.3rem;
    border-radius: 8px;
    -webkit-appearance: none;
}
.user_setting_info{
    width: 96%;
    height: 80px;
    border: 1px solid #ccc;
    margin: 20px auto;
    border-radius: 8px;
    line-height: 80px;
    font-size: 1.3rem;
}
.setting_img{
    vertical-align: middle;
    margin-left: 10px;
}
.error_show{
    opacity: 1;
    height: 20px;
    line-height: 20px;
    text-align: center;
    margin: 0;
}
.user_ul li{
    width: 100%;
    height: 54px;
    line-height: 54px;
    border-bottom: 1px solid #ccc;
    font-size: 1.4rem;
    position: relative;
    background: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#f1f1f1));
    background: -webkit-linear-gradient(white,#f1f1f1);
    background: -moz-linear-gradient(white,#f1f1f1);
    background: -ms-linear-gradient(white,#f1f1f1);
    background: -o-linear-gradient(white,#f1f1f1);
}
.search_ul_li{
    height: 0;
    line-height: 0;
    opacity: 0;
    border-bottom: 1px solid #ccc;
    font-size: 1.4rem;
    position: relative;
    background: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#f1f1f1));
    background: -webkit-linear-gradient(white,#f1f1f1);
    background: -moz-linear-gradient(white,#f1f1f1);
    background: -ms-linear-gradient(white,#f1f1f1);
    background: -o-linear-gradient(white,#f1f1f1);
    transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out; /* Firefox 4 */
    -webkit-transition:all .5s ease-in-out; /* Safari and Chrome */
    -o-transition:all .5s ease-in-out;
}
.search_li_show{
    width: 100%;
    height: 54px;
    line-height:54px;
    opacity: 1;
}
.footer_ul{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-size: 1.1rem;
    text-align: left;
    overflow: hidden;
    list-style: none;
    font-weight: 400;
}
.setting_uname{
    margin-left: 10px;
}
.description{
    text-align: center;
    font-size: 1.3rem !important;
    background: none !important;
    color: #0088d1;
}
.footer_ul li{
    float: left;
    display: inline-block;
    width: 33.3%;
    text-align: center;
    height: 60px;
    line-height: 60px;
    padding-top: 5px;
    box-sizing: border-box;
    position: relative;
}
.icon-talk:before { content: "\e605"; }

.logo span{
    color: #ffffff;
}
.item_active{
background: #00AEEF;
}
.right-arrow{
    position: absolute;
    top: 25%;
    right: 10px;
    font-size: 1.8rem !important;
    color:#ccc;
}
.font-adjust{
    font-size: 1.8rem !important;
}
.user_logo{
    vertical-align: middle;
    margin-right: 20px;
    margin-top: -5px;
    margin-left: 10px;
}
.mainheader{
    height: 50px;
    width: 100%;
    background: #0088D1;
    border-radius: 8px 8px 0 0;
    background-clip: border-box;
    font-size: 1.5rem;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-weight: 600;
}
.mainfooter{
    position: absolute;
    bottom: 0;
    left:0;
    height: 60px;
    width: 100%;
    background: #0088D1;
    border-radius: 0 0 8px 8px;
    background-clip: border-box;
    font-size: 1.5rem;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-weight: 600;
}
.home_logo{
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    background: url("../img/home_72.png")  no-repeat 0 0;
    height:72px;
    width: 72px;
}
.register_logo{
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    background: url("../img/uadd_72.png")  no-repeat 0 0;
    height:72px;
    width: 72px;
}
.home_h1{
    font-weight: 500;
    margin-top: 100px;
    font-size: 3rem;
    text-align: center;
}
.search_back{
    position: absolute;
    left: 10px;
    font-size: 1.3rem;
    height: 50px;
}
.register_h1{
    font-weight: 500;
    margin-top: 130px;
    font-size: 2.5rem;
    text-align: center;
}
.home_h2 {
    width: 30%;
    margin: 20px auto 0;
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
}
.home_form{
    text-align: center;
    border: 1px solid #77b3d4;
    background: #77b3d4;
    padding: 20px;
    width: 40%;
    margin: 20px auto;
    border-radius: 8px;
}
.home_login{
    width: 50%;
    height: 40px;
    font-size: 1.5rem;
    background: #0088d1;
    margin: 20px auto 0;
    color: #fff;
    border: none;
    border-radius: 5px;
    -webkit-appearance: none;
}
.home_form input[type='text'],input[type='password']{
    display: block;
    width: 100%;
    margin: 10px auto;
    height: 35px;
    text-align: center;
    font-size: 1.2rem;
    border-radius: 4px;
    background-clip: border-box;
    border: none;
}
.register_p{
    text-align: center;
    font-size: 1.2rem;
}
.register{
    top:0;
    left:0;
}
.register_header{
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 45px;
    background: #0088d1;
}

.goreg{
    animation:goleft .5s ease-in-out;
    -webkit-animation:goleft .5s ease-in-out;
    /*设置内嵌的元素在 3D 空间如何呈现：保留 3D*/
    -webkit-transform-style: preserve-3d;
    /*（设置进行转换的元素的背面在面对用户时是否可见：隐藏）*/
    -webkit-backface-visibility: hidden;
}
.goback{
    animation:goright 5s ease-in-out;
    -webkit-animation:goright .5s ease-in-out;
    /*设置内嵌的元素在 3D 空间如何呈现：保留 3D*/
    -webkit-transform-style: preserve-3d;
    /*（设置进行转换的元素的背面在面对用户时是否可见：隐藏）*/
    -webkit-backface-visibility: hidden;
}
.register_p a{
    text-decoration: none;
    font-size: 1.3rem;
    color: #0088D1;
    font-weight: 600;
    cursor: pointer;
}
.home_footer{
    text-align: center;
    margin-top: 30px;
    color: #9898a3;
}
.home_footer a{
    text-decoration: none;
    color: #0088d1;
    font-size: 1.2rem;
}
.tab_item{
    display: inline-block;
    height: 50px;
    line-height: 20px;
}
.backbutton{
    color: #fff;
    font-size: 1.5rem;
    display: inline-block;
    line-height: 45px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 1.4rem;
}
.backimg{
    vertical-align: middle;
    margin-top: -10px;
}
.talk_panel{
    height: 600px;
    width: 750px;
    position: absolute;
    top: 120px;
    left: 580px;
    border-radius: 8px;
    /*opacity: 0.4;*/
    /*filter: alpha(opacity=40);*/
}
.talk_header{
    width: 100%;
    box-sizing: border-box;
    height: 50px;
    background: #0088D1;
    border-radius: 8px 8px 0 0;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
}
.search_header{
    width: 100%;
    box-sizing: border-box;
    height: 50px;
    background: #0088D1;
    border-radius: 8px 8px 0 0;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
}
.close_btn{
    position: absolute;
    right: 10px;
    top: 8px;
    font-size: 1.8rem !important;
    display: inline-block;
    height: 35px;
    line-height: 35px;
    width: 50px;
}
.wrappersend{
    overflow-x: hidden;
    display: flex;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display: -moz-flexbox;
    -webkit-flex-direction:column-reverse;
    -ms-flex-direction:column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align:flex-end;
    -webkit-align-items:flex-end;
    -ms-flex-align:flex-end;
    align-items:flex-end;
}
.wrapperreceive{
    overflow-x: hidden;
    display: flex;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display: -moz-flexbox;
    -webkit-flex-direction:column;
    -ms-flex-direction:column;
    flex-direction: column;
    -webkit-box-align:flex-start;
    -webkit-align-items:flex-start;
    -ms-flex-align:flex-start;
    align-items:flex-start;
}
.search_users{
    position: absolute;
    right: 20px;
    height: 50px;
}
.talk_content{
    width: 100%;
    height: 490px;
    background: rgba(255,255,255,.3);
    overflow-x: hidden;
    overflow-y: auto;
    padding-bottom: 40px;
}
.send{
    font-size: 1.2rem;
    color: #fff;
    background: #0088d1;
    /* opacity: 1 !important; */
    /* float: right; */
    padding: 5px 10px;
    border-radius: 8px;
    margin: 6px;
    position: relative;
    max-width: 70%;
    word-break: break-all;
    word-wrap: break-word;
    /* clear: both; */
}
.receive{
    font-size: 1.2rem;
    color: #fff;
    background: #7dc82c;
    /* opacity: 1 !important; */
    /* float: right; */
    padding: 5px 10px;
    border-radius: 8px;
    margin: 6px;
    position: relative;
    max-width: 70%;
    word-break: break-all;
    word-wrap: break-word;
    /* clear: both; */
}
.sender{
    font-size: 1.2rem;
    padding-right: 5px;
    margin-right: 10px;
}
.receiver{
    font-size: 1.2rem;
    padding-left: 5px;
    margin-left: 10px;
}
.send::after{
    content: " ";
    width: 0;
    height: 0;
    border-top: none;
    border-bottom:5px solid #0088d1;
    border-left:5px solid transparent;
    border-right:5px solid transparent;
    position: absolute;
    top:0px;
    right: 20px;
    margin-top: -5px;
}
.receive::after{
    content: " ";
    width: 0;
    height: 0;
    border-top: none;
    border-bottom:5px solid #7dc82c;
    border-left:5px solid transparent;
    border-right:5px solid transparent;
    position: absolute;
    top:0px;
    left: 20px;
    margin-top: -5px;
}
.clearfix:after{
    content: "020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    /* 触发 hasLayout */
    zoom: 1;
}
#search_input{
    display: block;
    width: 95%;
    margin: 0px auto;
    box-sizing: border-box;
    height: 40px;
    border-radius: 8px;
    border: none;
    font-size: 1.3rem;
}
.search_region{
    width: 100%;
    height: 60px;
    line-height: 60px;
    padding-top: 10px;
    background: #D8D8D8;
}
.search_content{
    width: 100%;
    height: 546px;
    background: #fff;
}
.express_signal{
    margin:10px 0 0 10px;
    color: #fff;
    font-size: 2rem !important;
}
.talk_footer{
    height: 55px;
    width: 100%;
    background: #0088D1;
    line-height: 55px;
    border-radius: 0 0 8px 8px;
    text-align: center;
}
.send_btn{
    vertical-align: top;
    margin: 8px 0;
    height: 40px;
    width: 60px;
    border: none;
    background: #7dc82c;
    -webkit-appearance: none;
    color: #fff;
    border-radius: 16px;
    font-size: 1.2rem;
    padding: 0 !important;
    text-align: center !important;
}
.content_input{
    height: 35px;
    vertical-align: top;
    margin: 10px 0 0 0;
    width: 84%;
    border-radius: 4px;
    border: none;
    font-size: 1.2rem;
}
.invisible{
    display: none;
}
@keyframes goleft{
    from{
        transform:translate3d(0,0,0);
        -webkit-transform:translate3d(0,0,0);
        left:100%;
    }
    to{
        transform:translate3d(0,0,0);
        -webkit-transform:translate3d(0,0,0);
        left:0;
    }
}
@-webkit-keyframes goleft{
    from{
        transform:translate3d(0,0,0);
        -webkit-transform:translate3d(0,0,0);
        left:100%;
    }
    to{
        transform:translate3d(0,0,0);
        -webkit-transform:translate3d(0,0,0);
        left:0;
    }
}
@keyframes goright{
    from{
        transform:translate3d(0,0,0);
        -webkit-transform:translate3d(0,0,0);
        left:-100%;
    }
    to {
        transform:translate3d(0,0,0);
        -webkit-transform:translate3d(0,0,0);
        left: 0;
    }
}
@-webkit-keyframes goright{
    from{
        transform:translate3d(0,0,0);
        -webkit-transform:translate3d(0,0,0);
        left:-100%;
    }
    to{
        transform:translate3d(0,0,0);
        -webkit-transform:translate3d(0,0,0);
        left:0;
    }
}
@media (orientation:landscape) {
    .home_h1{
        margin-top: 30px !important;
    }
    body{
        min-height: 480px;
    }
}
@media(max-width: 1355px){
    .chat_panel{
        left:150px;
    }
    .logo{
        padding-left: 150px;
    }
    .talk_panel{
        left:450px;
    }
}
@media(max-width: 1225px){
    .chat_panel{
        left:80px;
    }
    .logo{
        padding-left: 80px;
    }
    .talk_panel{
        left:380px;
    }
}
@media (max-width: 1150px) {
    .chat_panel{
        left:30px;
    }
    .logo{
        padding-left: 30px;
    }
    .talk_panel{
        left:330px;
    }
}
@media (max-width: 1100px) {
    .chat_panel{
        left:5px;
        width: 260px;
    }
    .logo{
        padding-left: 5px;
    }
    .talk_panel{
        left:270px;
    }
}
@media(max-width: 1024px){
    /*.send{*/
        /*font-size: 1.2rem;*/
        /*color: #000;*/
        /*background: #0088d1;*/
        /* opacity: 1 !important; */
        /* float: right; */
        /*padding: 5px 10px;*/
        /*border-radius: 8px;*/
        /*margin: 6px;*/
        /*position: relative;*/
        /*max-width: 70%;*/
        /*word-break: break-all;*/
        /*word-wrap: break-word;*/
        /* clear: both; */
    /*}*/
    .home_logo{
        display: inline-block;
        vertical-align: middle;
        margin-right: 15px;
        background: url("../img/home_64.png")  no-repeat 0 0;
        height:64px;
        width: 64px;
    }
    .face_ul{
        padding-top: 10px;
        height: 180px;
        width: 100%;
        box-sizing: border-box;
        list-style: none;
        background: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#ccc));
        background: -webkit-linear-gradient(white,#ccc);
        background: -moz-linear-gradient(white,#ccc);
        background: -ms-linear-gradient(white,#ccc);
        background: -o-linear-gradient(white,#ccc);
        border-radius: 0 0 0 0;
        position: fixed;
        bottom: 0;
        left:0;
        display: flex;
        display:-webkit-box;
        display:-webkit-flex;
        display:-ms-flexbox;
        display: -moz-flexbox;
        -webkit-box-orient:vertical;
        -webkit-flex-direction:column;
        -ms-flex-direction:column;
        flex-direction:column;
        -webkit-box-pack:center;
        -webkit-justify-content:center;
        -ms-flex-pack:center;
        justify-content:center;
    }
    .register_logo{
        display: inline-block;
        vertical-align: middle;
        margin-right: 15px;
        background: url("../img/uadd_64.png")  no-repeat 0 0;
        height:64px;
        width: 64px;
    }
    .show_chat_panel{
        animation:goright .5s ease-in-out;
        -webkit-animation:goright .5s ease-in-out;
    }
    .show_talk_panel{
        animation:goleft .5s ease-in-out;
        -webkit-animation:goleft .5s ease-in-out;
    }
    .register_h1{
        font-weight: 500;
        margin-top: 130px;
        font-size: 2rem;
        text-align: left;
    }
    .home_h1{
        font-weight: 500;
        margin-top: 100px;
        font-size: 2rem;
        text-align: left;
    }
    .home_h2 {
       display: none;
    }
    .home_form{
        text-align: left;
        border: none;
        background: transparent;
        padding: 10px 0;
        width: 100%;
        margin: 10px auto;
        border-radius: 0px;
        overflow: hidden;
    }
    .home_form input[type='text'],input[type='password']{
        display: block;
        width: 99%;
        margin: 0 auto;
        height: 40px;
        text-align: center;
        font-size: 1.2rem;
        border-radius: 4px;
        background-clip: border-box;
        border: 1px solid #ccc;
    }
    .home_form input[type='password']{
        border-radius: 4px;
        border-top:none;
    }
    .home_login{
        width: 100%;
        height: 40px;
        font-size: 1.5rem;
        background: #0088d1;
        -webkit-appearance: none;
        margin: 20px auto 0;
        color: #fff;
        border: none;
        border-radius: 5px;
    }
    .logo{
        display: none;
    }
    .chat_panel{
        width:100%;
        top:0;
        left:0;
        height: 100%;
    }
    .talk_panel{
        width:100%;
        top:0;
        left:0;
        height: 100%;
        border-radius:0;
    }
    .talk_content{
        height: 85%;
    }
    .talk_header{
        border-radius:0;
    }
    .search_header{
        border-radius:0;
    }
    .talk_footer{
        position: fixed;
        bottom: 0;
        left:0;
        border-radius: 0;
    }
    .invisible{
        display: none;
    }
    .main{
        background: none;
    }
    .chat_panel{
        border-radius: 0;
    }
    .mainfooter{
        border-radius: 0;
    }
    .mainheader{
        border-radius: 0;
    }
    .send_btn{
        margin-left: 5px;
        width: 80px;
    }
}
@media(max-width: 895px){
    .send_btn{
        margin-left: 5px;
        width: 70px;
    }
}
@media(max-width: 825px){
    .content_input{
        width: 82%;
    }
}
@media(max-width: 750px) {
    .content_input{
        width:80%;
    }
    .send_btn{
        margin-left: 0px;
        width: 65px;
    }
}
@media (max-width: 600px) {
    .content_input{
        width:75%;
    }
}
@media (max-width: 489px) {
    /*表情符号*/
    .sp-anger{width:32px;height:32px;background-image:url(../img/style.png);background-position:-294px 0}
    .sp-confuse{width:32px;height:32px;background-image:url(../img/style.png);background-position:-294px -33px}
    .sp-cool{width:32px;height:32px;background-image:url(../img/style.png);background-position:-294px -66px}
    .sp-cry{width:32px;height:32px;background-image:url(../img/style.png);background-position:-327px 0}
    .sp-jiong{width:32px;height:32px;background-image:url(../img/style.png);background-position:-327px -33px}
    .sp-laugh{width:32px;height:32px;background-image:url(../img/style.png);background-position:-327px -66px}
    .sp-se{width:32px;height:32px;background-image:url(../img/style.png);background-position:-360px 0}
    .sp-shutup{width:32px;height:32px;background-image:url(../img/style.png);background-position:-360px -33px}
    .sp-shy{width:32px;height:32px;background-image:url(../img/style.png);background-position:-360px -66px}
    .sp-smile{width:32px;height:32px;background-image:url(../img/style.png);background-position:-393px 0}
    .sp-sweat{width:32px;height:32px;background-image:url(../img/style.png);background-position:-393px -33px}
    .sp-worship{width:32px;height:32px;background-image:url(../img/style.png);background-position:-393px -66px}
    .face_li span{
        width: 50px;
        height: 50px;
    }
    .content_input{
        width:70%;
    }
    .send_btn{
        margin-left: 0px;
        width: 65px;
        text-align: center;
        padding: 0;
    }
}
@media (max-width: 400px) {
    .content_input{
        width:65%;
    }
    .talk_header{
        font-size: 1.3rem;
        text-align: left;
        padding-left: 80px;
    }
    .search_header{
        font-size: 1.3rem;
        text-align: center;
        padding-left: 80px;
    }
    .close_btn{
        text-align: center;
    }
}
@media(max-width: 350px)  {
    .talk_header{
        font-size: 1.3rem;
        text-align: left;
        padding-left: 10px;
    }
    .search_header{
        font-size: 1.3rem;
        text-align: center;
        padding-left: 10px;
    }
}
@media (max-width: 340px) {
    .content_input{
        width:60%;
    }
}
@media(max-width: 300px){
    .home_logo{
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
        background: url("../img/home_48.png")  no-repeat 0 0;
        height:48px;
        width: 48px;
    }
    .home_h1{
        font-weight: 500;
        margin-top: 100px;
        font-size: 1.5rem;
        text-align: left;
    }
    .register_logo{
        display: inline-block;
        vertical-align: middle;
        margin-right: 15px;
        background: url("../img/uadd_48.png")  no-repeat 0 0;
        height:48px;
        width: 48px;
    }
    .register_h1{
        font-weight: 500;
        margin-top: 130px;
        font-size: 1.5rem;
        text-align: left;
    }

}